node_name = "{{ inventory_hostname.split('.')[0] }}-root"
data_dir = "{{ datadirs.consul | default(datadir) }}/consul-root"
bind_addr = "{{ ansible_eth0.ipv4.address }}"
datacenter = "{{ datacenter }}"
server = false
disable_host_node_id = true
retry_join = [{% for host in groups.servers %}{% if hostvars[host]['region'] == "home" %}{% if not loop.first %}, {% endif %}"{{ host }}:8300"{% endif %}{% endfor %}]

{% if consul_gossip_key is defined %}
encrypt = "{{ consul_gossip_key }}"
{% endif %}

log_level = "INFO"
enable_syslog = true
enable_debug = true

ports {
  http = {{ consul_root_ports.http }}
  dns = {{ consul_root_ports.dns }}
  grpc = {{ consul_root_ports.grpc }}
  grpc_tls = {{ consul_root_ports.grpc_tls }}  
  serf_lan = {{ consul_root_ports.serf_lan }}
  serf_wan = {{ consul_root_ports.serf_wan }}
}