[Unit]
Description=Consul Agent (Root)
Requires=network-online.target tailscaled.service consul.service
After=network-online.target tailscaled.service consul.service

[Service]
ExecStart=/usr/bin/consul agent -config-dir={{ consul_root_configdir }}/consul-root.d  -enable-script-checks
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
LimitNOFILE=65536
KillMode=process
KillSignal=SIGINT
RestartSec=2
StartLimitBurst=3
StartLimitInterval=10
TasksMax=infinity
OOMScoreAdjust=-1000
User={{ consul_root_user }}
Group={{ consul_root_group }}

[Install]
WantedBy=multi-user.target