[Unit]
Description=Nomad Agent (Root)
Requires=network-online.target consul.service nomad.service
After=network-online.target consul.service nomad.service

[Service]
ExecStart=/usr/bin/nomad agent -config={{ configdir }}/nomad-root.d
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2
StartLimitInterval=10
StartLimitBurst=3
TasksMax=infinity
User={{ nomad_root_user }}
Group={{ nomad_root_group }}

[Install]
WantedBy=multi-user.target