{
{% if server %}
"bootstrap_expect": {{ groups['servers'] | map('extract', hostvars, 'region') | select('eq', 'home') | list | length }},
"ui": true,
"connect": { "enabled": true },
{% else %}
"node_name": {{ inventory_hostname.split('.')[0] }}"
{% endif %}
"server": {{ "true" if server else "false" }},
"bind_addr": "{{ ansible_eth0.ipv4.address if region == "home" else tailscale_ip }}",
"client_addr": "0.0.0.0",
"datacenter": "{{ datacenter }}",
"data_dir": "{{ datadirs.consul | default(datadir) }}/consul",
"recursors": ["1.1.1.1","8.8.8.8"],
{% if consul_gossip_key is defined %}
"encrypt": "{{ consul_gossip_key }}",
{% endif %}
"log_level": "INFO",
"enable_syslog": true,
"enable_debug": true,
"leave_on_terminate": false,
"skip_leave_on_interrupt": true,
"rejoin_after_leave": true,
"retry_join": [{% for host in groups.servers %}{% if hostvars[host]['region'] == "home" %}{% if not loop.first %}, {% endif %}"{{ host }}"{% endif %}{% endfor %}]
}