[Unit]
Description=Nomad server
Requires=network-online.target tailscaled.service
After=network-online.target tailscaled.service ceph.target mnt-services.mount mnt-recordings.mount
Wants=consul.service
After=consul.service
Documentation=https://www.nomadproject.io/docs/agent/options

[Service]
Restart=on-failure
ExecStart=/usr/bin/nomad agent -config={{ configdirs.nomad-server }}
User=root
Group=root
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65535
RestartSec=2
StartLimitBurst=3
StartLimitInterval=10
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
