{% for service in services %}
job "{{ service.name }}" {
  datacenters = ["{{ service.datacenter }}"]
  type        = "service"

  # Adjust as needed for rootless/root containers
  constraint {
    attribute = "${meta.rootless}"
    value = "true"
  }

  # Temporary until lab is fully on physical hardware
  affinity {
    attribute = "${meta.class}"
    value     = "physical"
    weight    = 100
  }

  group "{{ service.name }}" {
    network {
      port "{{ service.portname}}" {
        static = {{ service.ports[0].split(':')[1] }}
      }
      dns {
        servers = ["192.168.252.1","192.168.252.6","192.168.252.7"]
      }      
    }

    volume "{{ service.name }}" {
      type      = "host"
      read_only = false
      source    = "{{ service.name }}"
    }

    service {
      name = "{{ service.name }}"
      provider = "consul"
      port = "http"
      tags = [
        "traefik.enable=true",
        "traefik.consulcatalog.connect=false",          
        "traefik.http.routers.{{ service.name }}.rule=Host(`{{ service.name }}.shamsway.net`)",
        "traefik.http.routers.{{ service.name }}.entrypoints=web,websecure",
        "traefik.http.routers.{{ service.name }}.tls.certresolver=cloudflare",
        "traefik.http.routers.{{ service.name }}.middlewares=redirect-web-to-websecure@internal",
      ]

      connect {
        native = true
      }
              
      check {
        name     = "alive"
        type     = "http"
        path     = "/"
        interval = "10s"
        timeout  = "2s"
      }
    }

    task "{{ service.name }}" {
      driver = "podman"

      config {
        image = "{{ service.image }}"
        ports = ["http"]
        logging = {
          driver = "journald"
          options = [
            {
              "tag" = "{{ service.name }}"
            }
          ]
        }         
      }

      volume_mount {
        volume      = "{{ service.name }}"
        destination = "/app"
        read_only   = false
      }

      env {
        {% for env in service.environment %}
        {{ env.split('=')[0] }} = "{{ env.split('=')[1] }}"
        {% endfor %}
      }

      resources {
        cpu    = 500
        memory = 256
      }
    }
  }
}
{% endfor %}