.DS_Store
**/.DS_Store
**/.terraform*
**/terraform.tfstate*
packer/output-octantnode
packer/output-octantnode/*
packer/packer_cache/
packer/manifest.json
examplefacts.json
.envrc
.idea
.consul
.vault
.nomad
.secrets.yml
hosts.ini
todo.md
bundle*
file_tree.txt
settings.json