# Localization
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us

# Network configuration
d-i netcfg/choose_interface select auto
#d-i netcfg/get_hostname string debian
#d-i netcfg/get_domain string shamsway.net

# Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Clock and time zone setup
d-i time/zone string UTC
d-i clock-setup/utc boolean true

# Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/disk string /dev/sda
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Account setup
d-i passwd/root-login boolean true
d-i passwd/root-password password packer
d-i passwd/root-password-again password packer
d-i passwd/user-fullname string Packer User
d-i passwd/username string packer
d-i passwd/user-password password packer
d-i passwd/user-password-again password packer
d-i user-setup/allow-password-weak boolean true

# Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/disk string /dev/sda
d-i partman-auto-lvm/guided_size string max
d-i partman-auto-lvm/new_vg_name string vg0
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Ignore /dev/sdb
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-basicfilesystems/no_swap seen true
d-i partman-auto/expert_recipe string \
   sdb-ignore ::                      \
        1 1 1 free                    \
            $iflabel{ gpt }           \
            $reusemethod{ }           \
            method{ biosgrub }        \
        .                             \
        256 256 256 ext4              \
            $primary{ }               \
            $bootable{ }              \
            method{ format }          \
            format{ }                 \
            use_filesystem{ }         \
            filesystem{ ext4 }        \
            mountpoint{ /boot }       \
        .                             \
        500 10000 1000000000 ext4     \
            $lvmok{ }                 \
            lv_name{ root }           \
            method{ format }          \
            format{ }                 \
            use_filesystem{ }         \
            filesystem{ ext4 }        \
            mountpoint{ / }           \
        .                             \
        64 512 200% linux-swap        \
            $defaultignore{ }         \
            $lvmok{ }                 \
            lv_name{ swap }           \
            method{ swap }            \
            format{ }                 \
        .
d-i partman-auto/choose_recipe select sdb-ignore

# Package selection
d-i pkgsel/include string openssh-server sudo wget curl build-essential
d-i pkgsel/update-policy select unattended-upgrades
d-i pkgsel/install-language-support boolean false
d-i pkgsel/upgrade select full-upgrade
tasksel tasksel/first multiselect minimal
apt-cdrom-setup apt-setup/cdrom/set-first boolean false
apt-mirror-setup apt-setup/use_mirror boolean true
popularity-contest popularity-contest/participate boolean false

# Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string /dev/sda
d-i grub-installer/choose_bootdev select /dev/sda

# Console setup
console-setup console-setup/charmap47 select UTF-8
console-setup console-setup/codeset47 select	# Latin1 and Latin5 - western Europe and Turkic languages
console-setup console-setup/codesetcode string Lat15
console-setup console-setup/fontface47 select TerminusBold
console-setup console-setup/fontsize string 8x16
console-setup console-setup/fontsize-fb47 select 8x16
console-setup console-setup/fontsize-text47 select 8x16
console-setup console-setup/store_defaults_in_debconf_db boolean true

d-i	preseed/late_command string	\
	sed -i '/^deb cdrom:/s/^/#/' /target/etc/apt/sources.list; \
	echo 'PermitRootLogin yes' >> /target/etc/ssh/sshd_config;

d-i finish-install/reboot_in_progress note